{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'plp_ecommerce/styles.css' %}">
    <title>Ecommerce</title>
</head>
<body>
    <h1>Ecommerce home page</h1>
    <nav>
        <ul>
          <li><a href="{% url 'plp_ecommerce:product_list' %}">Products</a></li>
          <li><a href="{% url 'plp_ecommerce:customer_list' %}">Customers</a></li>
        </ul>
    </nav>
</body>
</html>