{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'plp_ecommerce/styles.css' %}">
    <title>Product list</title>
</head>
<body>
    <h1>This is the product list</h1>
    <p>Heyyy</p>
    <ul>
       {% for product in products %} 
       <li>
        <h2>{{product.name}} </h2>
        <p>  {{ product.description}}</p>
        <p> Price: Kshs. {{product.price}}</p>
        <!-- <img src="{{product.image.url}}" alt="{{product.name}}"> -->
        <p> Available: {{product.availability|yesno:"Yes,No"}} </p>
       </li>
       {% endfor %}
    </ul>
</body>
</html>